@font-face {
  font-family: 'Kapakana';
  src: url('/fonts/Kapakana/Kapakana-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f1f1f1;
  --secondary-bg: #f8f8f8;

  --text-color: #000000;
  --primary: #054AB1;
  --secondary: #DDFFCA;
  --accent: #FF9000;
  --border-color: #C8C8C8;

  --font-title: 'Newsreader', serif;
  --font-body: 'Inter', sans-serif;
  --font-decorative: 'Kapakana', sans-serif;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
