@font-face {
  font-family: 'Kapakana';
  src: url('/fonts/Kapakana-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #F0F2F8;
  --secondary-bg: #f8f8f8;

  --text-color: #000000;
  --primary: #054AB1;
  --border-color: #C8C8C8;

  --font-body: 'Inter', sans-serif;
  --font-decorative: 'Kapakana', sans-serif;
}

body.dark {
  --bg-color: #1B1D32;
  --text-color: #ffffff;
  --primary: #81B3FF;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.textHighlight {
  color: var(--primary);
  font-family: var(--font-decorative);
  font-size: 5rem;
}